<robot name="robot_name">
    

<ros2_control name="GPIOInterface" type="system">
  <hardware>
    <plugin>gpio_hw_interface/GPIOInterface</plugin>
  </hardware>
  <joint name="gpio_led">
    <command_interface name="gpio_command"/>
    <state_interface name="gpio_state"/>
  </joint>
</ros2_control>
</robot>