<robot name="robot_name">
  <link name="world"/>

  <ros2_control name="GPIOInterface" type="system">
    <hardware>
      <plugin>gpio_hw_interface/GPIOInterface</plugin>
    </hardware>
    <gpio name="xxx">
      <parameters>
        <initial_value>1.0</initial_value>
      </parameters>
      <command_interface name="led1">
        
      </command_interface>
      <state_interface name="led2"/>
    </gpio>
    <gpio name="yyy">
    </gpio>
  </ros2_control>
</robot>